<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Movie Finder</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="styles.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>

<body>
<div id="app">
    <header class="hero">
        <nav>
            <div class="logo">
                <img src="assets/Logos/Logo%20White.svg" alt="Movie Library logo - Home page link">
            </div>
            <div class="nav-wrapper">
                <div class="menu" :class="{ show: menuOpen }">
                    <a href="#quickInfo" @click="closeMenu">Quick Info</a>
                    <a href="#contact" @click="closeMenu">Contact</a>
                </div>
                <div class="hamburger" @click="toggleMenu">
                    <img v-if="!menuOpen" src="assets/Icons/Menu%20White.svg" alt="Menu" style="height:24px;" />
                    <img v-else src="assets/Icons/Close%20White.svg" alt="Close" style="height:24px;" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main class="container">

        <section>
            <h1>MOVIE LIBRARY</h1>
            <p>Discover movies and shows, view details, and build your own list.</p>
        </section>

        <div class="middle-section">

            <section class="search-section">
                <div class="search-title" :class="{ hidden: searchQuery.trim() }">
                    Collect your favourites
                </div>
                <div class="search-bar">
                    <label for="searchInput">Search Movies</label>
                    <input
                            id="searchInput"
                            v-model="searchQuery"
                            @input="search"
                            placeholder="Search title and add to grid"
                    />
                </div>
            </section>


            <section id="quickInfo">
                <div class="grid" v-if="!searchQuery.trim()">
                    <div class="card" v-for="(item, index) in featured" :key="'feat-' + index">
                        <div class="card-inner">
                            <div class="card-front">
                                <img :src="item.image" :alt="item.alt || item.title" />
                                <h4>{{ item.title }}</h4>
                            </div>

                            <div class="card-back">
                                <p>{{ item.description }}</p>
                                <div class="card-buttons">
                                    <button @click="addToGrid(item)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <section v-if="results.length">
                    <h2 style="margin-top:1.5rem;">Search Results</h2>
                    <div class="grid">
                        <div class="card" v-for="item in results" :key="item.id">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img :src="item.image" :alt="item.title" />
                                    <h4>{{ item.title }}</h4>
                                </div>
                                <div class="card-back">
                                    <p v-html="shortenDescription(item.description)"></p>
                                    <button @click="addToGrid(item)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>


                <section class="gap-divider"></section>

                <section id="my-list-section" v-if="grid.length">
                <h2 style="margin-top:1.5rem;">My List</h2>
                <div class="grid">
                    <div class="card" v-for="(movie, index) in grid" :key="movie.id">
                        <img :src="movie.image" :alt="movie.title"/>
<!--                        <h4 class="card-title">{{ movie.title }}</h4>-->
                        <button class="remove-icon" style="padding: 18px">

                        <img class="remove-icon" @click="removeFromGrid(index)" src="assets/Icons/Close%20White.svg" alt="Remove" />
                        </button>
                    </div>
                </div>
                    <button
                            v-if="grid.length && !myListRevealed"
                            @click="scrollToMyList"
                            class="view-my-list">
                        View My List ↓
                    </button>
            </section>
        </section>
        </main>

    </div>

        <section id="contact" style="margin-top:2rem;">

        <h2>How to reach us</h2>
            <div class="contact-map-container">
                <form class="contact-form" @submit.prevent="submitForm" novalidate>
                    <div class="form-group">
                        <label for="firstName">First Name *</label>
                        <input
                                id="firstName"
                                title="Enter your first name using only letters"
                                type="text"
                                autocomplete="off"
                                v-model="form.firstName"
                                :aria-invalid="errors.firstName ? 'true' : 'false'"
                                :aria-describedby="errors.firstName ? 'firstNameError' : null"
                        />
                        <span id="firstNameError" class="error" v-if="errors.firstName">{{ errors.firstName }}</span>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name *</label>
                        <input
                                id="lastName"
                                title="Enter your last name using only letters"
                                type="text"
                                autocomplete="off"
                                v-model="form.lastName"
                                :aria-invalid="errors.lastName ? 'true' : 'false'"
                                :aria-describedby="errors.lastName ? 'lastNameError' : null"
                        />
                        <span id="lastNameError" class="error" v-if="errors.lastName">{{ errors.lastName }}</span>
                    </div>

                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input
                                id="email"
                                type="email"
                                title="Enter your email"
                                v-model="form.email"
                                :aria-invalid="errors.email ? 'true' : 'false'"
                                :aria-describedby="errors.email ? 'emailError' : null"
                        />
                        <span id="emailError" class="error" v-if="errors.email">Email is required.</span>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input id="phone" type="tel" v-model="form.phone" />
                    </div>

                    <div class="form-group">
                        <label for="comments">Comments *</label>
                        <textarea
                                id="comments"
                                title="Enter your of a maximum 100 letters"
                                rows="4"
                                maxlength="100"
                                v-model="form.comments"
                                :aria-invalid="errors.comments ? 'true' : 'false'"
                                :aria-describedby="errors.comments ? 'commentsError' : null"
                        ></textarea>
                        <span id="commentsError" class="error" v-if="errors.comments">Comments are required.</span>
                    </div>

                    <button type="submit">Submit</button>
                </form>


                <div class="map-embed">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48588.133010545425!2d-3.7152472!3d40.4363503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f35d4f0c269%3A0x754405946e8ca584!2sAmadeus%20IT%20Group!5e0!3m2!1sen!2slk!4v1750065538643!5m2!1sen!2slk"                             title="Map showing our location"
                            allowfullscreen
                            loading="lazy"
                            style="width:100%;height:300px;border:0;">
                    </iframe>

                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="assets/Logos/Logo%20White.svg" alt="Movie Library Logo" />
            </div>

            <div class="footer-social">
                <a href="https://youtube.com" target="_blank" class="social-icon">
                    <img src="assets/Icons/Youtube%20White.svg" alt="Youtube" />
                </a>
                <a href="https://twitter.com" target="_blank" class="social-icon">
                    <img src="assets/Icons/Twitter%20White.svg" alt="Twitter" />
                </a>

            </div>

            <div class="footer-contact">
                <p>Email: contact@movielibrary.com</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Movie Library. All rights reserved.</p>
        </div>
    </footer>


</div>



<script>

    const { createApp } = Vue;
    createApp({
        data(){
            return{
                menuOpen:false,
                searchQuery:'',
                results:[],
                grid:[],
                myListRevealed: false,
                featured: [
                    {
                        id: 1,
                        title: 'Batman',
                        image: 'assets/Images/Batman.jpg',
                        description: 'A great batman movie',
                        alt: 'Poster of Batman movie'
                    },
                    {
                        id: 2,
                        title: 'Spiderman',
                        image: 'assets/Images/Spiderman.jpg',
                        description: 'Another movie of spiderman',
                        alt: 'Poster of Spiderman movie'
                    },
                    {
                        id: 3,
                        title: 'Wild West',
                        image: 'assets/Images/Wild West.jpg',
                        description: "Don't miss this one from Wild West",
                        alt: 'Poster of Wild West movie'
                    }
                ],

                form:{firstName:'',lastName:'',email:'',phone:'',comments:''},
                errors:{}
            };
        },
        mounted() {
            console.log('Vue app mounted');
        },

        watch: {
            searchQuery(newQuery) {
                if (newQuery.trim()) {
                    this.search();
                } else {
                    this.results = [];
                }
            }
        },
        methods:{
            toggleMenu(){this.menuOpen=!this.menuOpen;},
            closeMenu(){this.menuOpen=false;},
            async search(){
                if(!this.searchQuery.trim()) return;
                const res=await fetch(`https://api.tvmaze.com/search/shows?q=${encodeURIComponent(this.searchQuery)}`);
                const data=await res.json();
                this.results=data.map(d=>({id:d.show.id,title:d.show.name,image:d.show.image?.medium||'https://via.placeholder.com/210x295?text=No+Image',description:d.show.summary||''}));
            },
            addToGrid(item) {
                const MAX_MOVIES = 5;

                if (this.grid.length >= MAX_MOVIES) {
                    Toastify({
                        text: `You can only add up to ${MAX_MOVIES} movies to your list.`,
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "#FFA500",
                        className: "toast-warning",
                        close: true
                    }).showToast();
                    return;
                }

                if (!this.grid.find(m => m.id === item.id)) {
                    this.grid.push(item);
                }
            },

            removeFromGrid(idx){ this.grid.splice(idx,1); },
            submitForm() {
                this.errors = {};

                const nameRegex = /^[A-Za-z\s'-]+$/;
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                const phoneRegex = /^\d{7,15}$/;

                const firstName = this.form.firstName.trim();
                const lastName = this.form.lastName.trim();
                const email = this.form.email.trim();
                const phone = this.form.phone.trim();
                const comments = this.form.comments.trim();

                if (!firstName) {
                    this.errors.firstName = 'First name is required.';
                } else if (!nameRegex.test(firstName)) {
                    this.errors.firstName = 'First name must contain only letters.';
                    console.log('First Name:', firstName, 'Valid?', nameRegex.test(firstName));

                }

                if (!lastName) {
                    this.errors.lastName = 'Last name is required.';
                } else if (!nameRegex.test(lastName)) {
                    this.errors.lastName = 'Last name must contain only letters.';
                }

                if (!email) {
                    this.errors.email = 'Email is required.';
                } else if (!emailRegex.test(email)) {
                    this.errors.email = 'Email is not valid.';
                }


                if (phone && !phoneRegex.test(phone)) {
                    this.errors.phone = 'Phone number must be 7 to 15 digits.';
                }

                if (!comments) {
                    this.errors.comments = 'Comments are required.';
                }

                if (Object.keys(this.errors).length > 0) {
                    console.log('Form has errors:', this.errors);
                    return;
                }

                Toastify({
                    text: "Form submitted successfully!",
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4CAF50",
                    close: true
                }).showToast();
                this.form = { firstName: '', lastName: '', email: '', phone: '', comments: '' };
            },
            scrollToMyList() {
                console.log('scrollToMyList triggered');
                this.$nextTick(() => {
                    const section = document.getElementById("my-list-section");
                    if (section) {
                        section.scrollIntoView({ behavior: "smooth" });
                        this.myListRevealed = true;
                    } else {
                        console.warn("My List section not found.");
                    }
                });
            },


            removeHtmlTags(str) {
                return str.replace(/<[^>]*>/g, '');
            },
            shortenDescription(description, maxLength = 150) {
                const cleanDescription = this.removeHtmlTags(description);
                if (cleanDescription.length > maxLength) {
                    return cleanDescription.substring(0, maxLength) + '...';
                }
                return cleanDescription;
            }
        }
    }).mount('#app');
</script>

</body>
</html>
